# Specify filepatterns you want git to ignore.

# linux
ConsoleChess.make
ChessFwTest.make
ChessFw.make
Makefile
bin
obj

# windows
.vs
ChessFw.sln
ChessFw.vcxproj
ChessFw.vcxproj.filters
ChessFwTest.vcxproj
ConsoleChess.vcxproj